/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--bg-color, #FFF);
  color: var(--main-color, #000);
  background-image: var(--bg-image);
  background-size: cover;
  font-family: var(--text-font);
  font-variation-settings: 'wght' var(--text-weight, 400);
}

/* header */

.header {
  display: grid;
  gap: 25px;
  justify-content: center;
  inline-size: var(--card-width);
  background-color: var(--bg-color, #FFF);
  margin-block-start: 102px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-block-start: 136px;
  border: 2px solid var(--main-color);
}

.header__container {
  display: grid;
  gap: 20px;
}

.header__main-title {
  font-family: var(--text-font-accent);
  font-size: var(--title-font-size);
  text-transform: uppercase;
}

.header__subtitle {
  display: grid;
  justify-content: center;
  font-family: var(--text-font-accent);
  font-size: var(--subtitle-font-size);
  text-transform: uppercase;
}

/* menu */

.header__theme-menu {
  display: grid;
  justify-content: center;
  padding-block-end: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
}

.theme-menu__item:hover .theme-menu__button {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-family: var(--text-font-accent);
  text-transform: uppercase;
  padding: 0;
}

.theme-menu__button::after {
  content: "";
  width: 0%;
  height: 2px;
  margin-top: 2px;
  transition: none;
  position: absolute;
  display: block;
}

.theme-menu__button:focus-visible {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  height: 2px;
  transition: width 0.3s;
  transition-timing-function: ease;
  background-color: var(--main-color);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:disabled.theme-menu__button::before {
  content: "▶";
  position: absolute;
  opacity: 0.6;
  width: 14px;
  height: 14px;
  left: -20px;
  animation: movement infinite 0.5s alternate;
  transition-timing-function: ease-in-out;
}

@keyframes movement {
  0% {
    translate: -4px;
  }

  100% {
    translate: 4px;
  }
}

/* content card */

.content {
  display: flex;
  flex-direction: column;
  gap: 54px;
  inline-size: var(--card-width);
  margin-block-start: 104px;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.section__container {
  inline-size: var(--card-width);
  background-color: var(--bg-color, #FFF);
  border: 2px solid var(--main-color);
}

.section__subtitle {
  padding-inline-start: 10px;
  padding-block: 3px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--title-weight, 700);
}

.image__container {
  position: relative;
}

.decoration-text {
  position: absolute;
  z-index: 2;
  inset-block-start: 27px;
  inset-inline-end: 25px;
  color: var(--main-color, #000);
  font-family: var(--text-font-accent);
  font-size: 14px;
  font-weight: 400;
  mix-blend-mode: hard-light;
  opacity: 0.6;
  text-shadow:
    -0.5px 0 var(--accent-color, #FFF), 
    0 0.5px var(--accent-color, #FFF), 
    0.5px 0 var(--accent-color, #FFF), 
    0.5 -1px var(--accent-color, #FFF);
}

@supports((text-stroke: 0.5px #000000) or (-webkit-text-stroke: 0.5px #000000)) {
  .decoration-text {
      -webkit-text-stroke: 0.5px var(--accent-color, #FFF);
      text-stroke: 0.5px var(--accent-color, #FFF);
      text-shadow: none;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-block-end: 2px solid var(--main-color, #000);
  border-block-start: 2px solid var(--main-color, #000);
}

.section__container-paragraph {
  display: grid;
  gap: 27px;
  padding-inline: 25px;
  padding-block-start: 25px;
}

.section__paragraph {
  line-height: 21px;
  font-size: 18px;
  font-weight: 400;
}

/* buttons */

.button__container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 4px;
  padding-inline: 25px;
  padding-block: 25px;
}

.button {
  background-color: var(--bg-color, #FFF);
  border: 2px solid var(--main-color, #000);
  padding: 0;
}

/* heart */

.card__icon-button {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  height: 38px;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--main-color, #000);
  transition: border 0.3s;
  transition-timing-function: ease;
}

/* heart animation */

.heart {
  transform-origin: center;
}

.main-body {
  fill: transparent;
}

.core {
  fill: transparent;
}

.sparks {
  opacity: 0;
}

.card__icon-button:hover .core {
  fill: var(--contour-heart, #000);
  transition: fill 0.3s linear;
}

.card__icon-button:not(:hover) .core {
  fill: transparent;
  transition-delay: 0.03s;
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-heart, #000);
  transition-delay: 0.05s;
  transition: fill 0.3s linear;
}

.card__icon-button:not(:hover) .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button:active .core {
  fill: var(--fill-heart, #FF0000);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--fill-heart, #FF0000);
  transition-delay: 0.05s;
  transition: fill 0.3s linear;
}

.like-icon {
  height: 38px;
  cursor: pointer;
}

.like-icon .contour {
  fill: var(--contour-heart);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .core {
  fill: var(--fill-heart, #FF0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-heart, #FF0000);
  transition-delay: 0.05s;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
  fill: var(--fill-heart, #FF0000);
  transition-delay: 0.06s;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 1;
  animation-delay: 0.1s;
  animation-direction: alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 1;
  animation-delay: 0.3s;
  animation-direction: alternate;
}

@keyframes heart {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* like button */

.button-animation {
  position: relative;
}

.button-animation:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color, #000);
  transition: box-shadow 0.3s;
  transition-timing-function: ease;
}

.button-animation::before {
  content: "";
  width: 0%;
  height: 100%;
  transition: none;
  position: absolute;
  display: block;
}

.button-animation:hover .button__text {
  position: relative;
  z-index: 2;
  color: var(--like-hover, #FFF);
  transition: color 0.5s;
  transition-timing-function: ease;
  mix-blend-mode: difference;
}

.button-animation:hover::before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: width 0.5s;
  transition-timing-function: ease;
  background-color: var(--main-color, #000);
}

.button-animation:not(:hover) .button__text {
  position: relative;
  z-index: 2;
  color: var(--main-color, #000);
  transition: color 0.5s;
  transition-timing-function: ease;
}

.button-animation:not(:hover)::before {
  width: 0%;
  height: 100%;
  left: 0;
  top: 0;
  transition: width 0.5s;
  transition-timing-function: ease;
  background-color: var(--main-color, #000);
}

.card__like-button {
  display: grid;
  align-items: center;
  max-height: 38px;
  width: 130px;
}

.button__text {
  font-size: 14px;
  font-family: var(--text-font-accent);
  line-height: 90%;
  padding: 0;
}

/* image filters */

.img__blure {
  filter: blur(0.2rem);
}

.img__grayscale {
  filter: grayscale(100%);
} 

.img__saturate {
  filter: saturate(170%);
} 

.img__hue-rotate {
  filter: hue-rotate(-180deg);
}

.img__sepia {
  filter: sepia(60%);
}

.img__invert {
  filter: invert(0.3);
} 

.img__filters {
  filter: brightness(120%) grayscale(50%) contrast(2);
}

/* button save */

.container__button-save {
  display: grid;
  justify-content: center;
  margin-block-start: 54px;
  margin-block-end: 105px;
}

.save__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  inline-size: 335px;
  padding-block-start: 15px;
  padding-block-end: 15px;
}

.button-animation:hover .save-icon {
  position: relative;
  z-index: 2;
  fill: var(--save-color, #FFF);
  transition: fill 0.5s;
  transition-timing-function: ease;
  mix-blend-mode: difference;
}

.button-animation:not(:hover) .save-icon {
  position: relative;
  z-index: 2;
  fill: var(--main-color, #000);
  transition: fill 0.5s;
  transition-timing-function: ease;
}

.save-icon {
  fill: var(--main-color);
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 2;
}

/* dialog */

dialog {
  inline-size: clamp(341px, 90%, 357px);
  color: var(--main-color, #000);
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--main-color, #000);
  font-family: var(--text-font-accent);
  text-transform: uppercase;
  font-size: 14px;
  padding: 30px;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog[open] {
  display: grid;
  gap: 30px;
}

.dialog[open] .dialog__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.dialog__button {
  text-transform: uppercase;
  width: 100%;
  padding-block: 12.5px;
  cursor: pointer;
}

.dialog-icon {
  width: 39px;
  min-width: 39px;
  height: 39px;
  align-self: center;
  color: var(--main-color, #000);
}

.dialog__text {
  line-height: 150%;
}

/* *** */

@media (width <= 376px) {
  .content {
    gap: 50px;
  }
}