/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --text-font: 'Inter-Variable', 'serif';
  --text-font-accent: 'PressStart2P-Regular', 'fantasy';
  --title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --subtitle-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --main-color: #000;
  --accent-color: #FFF;
  --save-color: #FFF;
  --contour-heart: #000;
  --fill-heart: #FF0000;
  --like-hover: #FFF;
  --text-weigh: 400px;
  --title-wight: 700px;
  --bg-color: #FFF;
  --bg-image: repeating-linear-gradient(
      transparent,
      #d3d3d3 2px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      #d3d3d3 2px
    ),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --card-width: clamp(23.188rem, 8.679rem + 38.69vw, 43.5rem);
}

:root.theme-dark {
    --text-font: 'Inter-Variable', 'serif';
    --text-font-accent: 'PressStart2P-Regular', 'fantasy';
    --title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --subtitle-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --main-color: #00CC14;
    --accent-color: #000;
    --save-color: #00CC14;
    --contour-heart: #00CC14;
    --fill-heart: #FF0000;
    --text-weigh: 465px;
    --like-hover: #00CC14;
    --title-wight: 785px;
    --bg-color: #000;
    --bg-image: repeating-linear-gradient(
        transparent,
        #000 2px
      ),
      repeating-linear-gradient(
        90deg,
        transparent,
        #000 2px
      ),
      linear-gradient(to bottom, #007f0c 0.01%, #004306);
}

@media (prefers-color-scheme: light) {
  :root {
    --text-font: 'Inter-Variable', 'serif';
    --text-font-accent: 'PressStart2P-Regular', 'fantasy';
    --title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --subtitle-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --main-color: #000;
    --accent-color: #FFF;
    --save-color: #FFF;
    --contour-heart: #000;
    --fill-heart: #FF0000;
    --like-hover: #FFF;
    --text-weigh: 400px;
    --title-wight: 700px;
    --bg-color: #FFF;
    --bg-image: repeating-linear-gradient(
        transparent,
        #d3d3d3 2px
      ),
      repeating-linear-gradient(
        90deg,
        transparent,
        #d3d3d3 2px
      ),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --card-width: clamp(23.188rem, 8.679rem + 38.69vw, 43.5rem);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-font: 'Inter-Variable', 'serif';
    --text-font-accent: 'PressStart2P-Regular', 'fantasy';
    --title-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --subtitle-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --main-color: #00CC14;
    --accent-color: #000;
    --save-color: #00CC14;
    --contour-heart: #00CC14;
    --like-hover: #00CC14;
    --fill-heart: #FF0000;
    --text-weigh: 465px;
    --title-wight: 785px;
    --bg-color: #000;
    --bg-image: repeating-linear-gradient(
        transparent,
        #000 2px
      ),
      repeating-linear-gradient(
        90deg,
        transparent,
        #000 2px
      ),
      linear-gradient(to bottom, #007f0c 0.01%, #004306);
  }

  .button-animation:hover .button__text {
    color: #000;
  }
}
